@model DentalDB.Models.ESTADOCUENTALABORATORIO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_MasterPrincipal.cshtml";
}

<h2>Eliminar</h2>

<h3>Esta seguro que desea eliminar?</h3>
<div>
    <h4>ESTADO DE CUENTA LABORATORIO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdTrabajo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdTrabajo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdPaciente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdPaciente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Abono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faltante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faltante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LABORATORIO.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LABORATORIO.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver al menu", "Index")
        </div>
    }
</div>
