@model DentalDB.Models.ESTADOCUENTALABORATORIO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MasterPrincipal.cshtml";
}

<h2>Detalle</h2>

<div>
    <h4>ESTADO DE CUENTA DE LOS LABORATORIOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdTrabajo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdTrabajo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdPaciente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdPaciente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Abono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faltante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faltante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LABORATORIO.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LABORATORIO.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdEstadoL }) |
    @Html.ActionLink("Volver al menu", "Index")
</p>
