@model IEnumerable<DentalDB.Models.ESTADOCUENTALABORATORIO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterPrincipal.cshtml";
}

<h2>ESTADO DE CUENTA DE LOS LABORATORIOS</h2>

<p>
    @Html.ActionLink("Crear estado", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdTrabajo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LABORATORIO.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdPaciente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Abono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Faltante)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdTrabajo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdPaciente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Abono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Faltante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LABORATORIO.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdEstadoL }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.IdEstadoL }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdEstadoL })
        </td>
    </tr>
}

</table>
