@model IEnumerable<DentalDB.Models.ESTADOCUENTACENTRO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterPrincipal.cshtml";
}

<h2>Listado</h2>

<p>
    @Html.ActionLink("Crear estado", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.CENTRO.Centro1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PACIENTE.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Abono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Faltante)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Abono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Faltante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CENTRO.Centro1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PACIENTE.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdEstadoD }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdEstadoD }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdEstadoD })
        </td>
    </tr>
}

</table>
