@model DentalDB.Models.TRABAJO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MasterPrincipal.cshtml";
}

<h2>Details</h2>

<div id="formulario">

    
        <script>
            strid = ClientId
            function CallPrint(strid) {
                var prtContent = document.getElementById(strid);
                var WinPrint = window.open("", "", "left=100,top=100,width=600,height=600");
                WinPrint.document.write(prtContent.innerHTML);
                WinPrint.document.close();
                WinPrint.focus();
                WinPrint.print();
            }
        </script>
    
    <h4>TRABAJO</h4>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tratamiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tratamiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdEstadoT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdEstadoT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PACIENTE.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PACIENTE.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdTrabajo }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<input type="submit" value="Imprimir" onclick="CallPrint('formulario')" class="btn btn-default" />