@model IEnumerable<DentalDB.Models.TRABAJO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterPrincipal.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PACIENTE.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tratamiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESTADOTRABAJO.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESTADOTRABAJO.Estado)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.PACIENTE.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tratamiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Hora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESTADOTRABAJO.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESTADOTRABAJO.Estado)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdTrabajo }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdTrabajo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdTrabajo })
        </td>
    </tr>
}

</table>
