@model DentalDB.Models.LABORATORIO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MasterPrincipal.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LABORATORIO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PACIENTE.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PACIENTE.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdLaboratorio }) |
    @Html.ActionLink("Back to List", "Index")
</p>
