@model IEnumerable<DentalDB.Models.LABORATORIO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterPrincipal.cshtml";
}



<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hora)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdLaboratorio }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.IdLaboratorio }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdLaboratorio })
        </td>
    </tr>
}

</table>
