@model IEnumerable<DentalDB.Models.DOCTOR>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterPrincipal.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PACIENTE.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PACIENTE.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdDoctor }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdDoctor }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdDoctor })
        </td>
    </tr>
}

</table>
